<h1>Confirm Unsubscribe</h1>
<p>Click to confirm</p>
<div><%= @status %></div>
<%= form_tag("/registrations", method: "delete") do %>
  <%= hidden_field_tag(:nonce, @registration.nonce) =%>
  <%= hidden_field_tag(:id, @registration.id) =%>
  <%= submit_tag("Destroy") %>
<% end %>

