<h1>Registration#new</h1>
<p>Find me in app/views/registration/new.html.erb</p>

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@registration) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :domain %>
      <%= f.text_field :domain %>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
