<% provide(:title, 'SSL Certificate Issuance Monitoring') %>
<% provide(:description, 'SSL Certificate Transparency Proactive Issuance Monitoring and Alerting') %>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'pexels_monitor.jpg' %>)"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Watch over SSL issuance on your domain</h2>
<p class="lead mb-0">ct_advisor is a proactive alerting tool for <a class="btn btn-primary" href="https://www.certificate-transparency.org/">Google's Certificate Transparency</a></p>
Certificate Transparency is a service that provides an audit trail of all issues SSL certificates. It compliments the use of strong SSL configuration and various security headers, it assists in identifying certificates that were not authorised for your domain.

In general, CT is utilised in a reactive fashion for investigating incidents. However, this service continually polls the CT log, and will  proactively trigger alerts and send you an email if a certificate is ever registered for your domain, by any CA in the CT program.
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url(<%= asset_path 'pexels_security.jpg' %>)"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <p class="lead mb-0"><h2>Security</h2>
            Every useless organisation and its dog currently claims to "take security very seriously". The only serious statements a person can make are:
            <ul>
            <li>The only information gathered is what you provide when signing up - email address and associated domain.</li>
            <li>All source code is available for review</li> 
            <li>Frontend code is analysed with brakeman and bundler-audit regularly</li>
            </ul>
            If you believe you have identified a security concern, please report privately by direct email: technion at lolware.net.
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(<%= asset_path 'pexels_source.jpg' %>)"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
<h2>Source code</h2>
<p class="lead mb-0">Users are encouraged to review source code.<br>
<a class="btn btn-primary" href="https://github.com/technion/ct_advisor_int">Front end code - Rails</a><br>
<a class="btn btn-primary" href="https://github.com/technion/ct_advisor">Where all the action happens - Erlang</a><br></p>
          </div>
        </div>
      </div>
    </section>
<h2>Using CT Advisor</h2>
Once you've registered a domain, there's nothing more to do. You will receive an email any time an SSL certificate for your domain, or any subdomains, are submitted to the CT log. This image shows ct_advisor in action:<br>

<img src="https://lolware.net/assets/images/ct_advisor_email.jpg" alt="SSL Issued email"><p>

</p>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src=<%= asset_path 'haroldcoffee.jpg' %> alt="Harold buys an SSL certificate">
              <h5>Harold</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src=<%= asset_path 'haroldcoffee.jpg' %> alt="Harold gets an SSL certificate">
              <h5>Harold II</h5>
              <p class="font-weight-light mb-0">"CT Advisor is basically the best thing that has ever happened."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src=<%= asset_path 'haroldcoffee.jpg' %> alt="Harold makes up a story about an SSL certificate">
              <h5>Harold III</h5>
              <p class="font-weight-light mb-0">"Did you know that website testimonials are usually fake?"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Ready to get started? Sign up now!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
<%= link_to "click here to register your domain", new_registration_path, class:  "btn btn-primary" %>
          </div>
        </div>
      </div>
    </section>

